body {
    background: url(https://cdn.architextures.org/textures/23/6/moss-none-q6upe8.jpg);
    background-size: 80%;
    height:100%;
    width: 100%;
    margin: 0;
    padding:0;
}
#sky {
background: linear-gradient(rgb(119, 165, 180), rgb(132, 166, 188), rgb(207, 220, 230));
height:60%;
}
