body {
    background: url(https://cdn.architextures.org/textures/23/6/moss-none-wy1byb.jpg);
    background-size: 80%;
    height:100%;
    width: 100%;
    margin: 0;
    padding:0;
}
#sky {
background: linear-gradient(rgb(119, 165, 180), rgb(132, 166, 188), rgb(176, 202, 222));
height:60%;
}
 #cloud {
  font-size:50px;
  position: absolute;
  left: 80px;
  top: 40px;
}
#cloud2 {
    font-size: 60px;
    position: absolute;
    left: 400px;
    top: 50px;
}
#chipmunk {
    font-size: 50px;
    position: absolute;
    right: 40px;
    bottom: 40px
}
#cabin {
    width: 300px;
    position: absolute;
    top: 150px;
    z-index:80
}
#pathway {
    width: 200px;
    position: absolute;
    left: 75px;
    top: 345px;
}
#fairy1 {
    width: 100px;
    position: absolute;
    left: 90px;
    top: 300px;
    z-index: 80;
}
#tree1 {
    width: 150px;
    position: absolute;
    left: 400px;
    top: 250px;
}
 #fairy2 {
    width:90px;
    position: absolute;
    left: 300px;
    top: 80px;
}
#hedgehog {
    font-size: 60px;
    position: absolute;
    left: 300px;
    top: 500px;

}
#rabbit {
    font-size: 60px;
    position: absolute;
    left: 400px;
    top: 350px;
}
#dove {
    font-size: 50px;
    position: absolute;
    left: 600px;
    top: 40px;

}
#phoenix {
    font-size: 50px;
    Position: absolute;
    top:140px;
    left: 20px;
}